*{
    margin: 0;
    padding: 0;
}

table{
    table-layout: auto;
}
th{
    text-align: center;
}

body{
    width: 100%;
    height: 100vh;
}


.quadrado{
    background-color: #afafaf;
    padding: 30px 80px;
    max-width: 1200px;
    max-height: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
#ant, #prox{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 4;
    border: solid 5px rgba(128, 128, 128, 0.411);
}
#ant{
    left: 10px;
}
#prox{
    right: 10px;
}
.item{
    display: none;
}
.ativo{
    display: block;
}
#bot{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    border: solid 5px rgba(128, 128, 128, 0.411);
    border-radius: 5px;

}
.custom-h1{
    color: #404040;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.484);
}
span{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.404);
}
.custom-label{
    color: #22403A;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.484);
}
.custom-input{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.404);
}
.custom-container{
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.701);
}
#bot{
    background-color: #404040;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.484);
}
.custom-div{
    margin-top: 40px;
}